<p id="notice"><%= notice %></p>

<h1>The <strong>amazingest</strong> To do app</h1>
<p> By sara Luisa <p> 

  <i class="fa fa-calendar-check-o fa-2x"></i>

<table  class="table table-hover">
  <thead>
    <tr>
      <th>What you need to do</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.description %></td>
        <td><%= link_to 'Show', todo_item %></td>
        <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
        <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<img src="/assets/check.png" alt="check"/>

<p><strong class="bg-warning"> <%= link_to 'New Todo item', new_todo_item_path %> </strong> <p>
